@media screen and (max-width: 500px) {
  body {
    font-family: "Open Sans", sans-serif;
    background: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");
    margin: 0;
  }

  * {
    margin: 0;
  }

  header {
    margin: 40px 0 30px 30px;
  }
  header > img {
    height: 40px;
  }

  .container {
    display: block;
    margin: 0 30px 0 30px;
  }

  .ulls > img {
    height: 300px;
    margin: 0 auto;
  }

  .descrption {
    margin: 0 auto;
  }
  .descrption > h1 {
    font-size: 1.5rem;
    line-height: 1.9rem;
    text-align: center;
    margin: 10px 0 10px 0;
  }
  .descrption > p {
    text-align: center;
    margin: 10px 0 10px 0;
  }

  button {
    width: 14rem;
    height: 2.8rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ad4ebb;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
}
