@media screen and (max-width: 500px) {
  body {
    font-family: "Open Sans", sans-serif;
    background: hsl(257, 40%, 49%);
    background-image: url("../images/bg-mobile.svg");
    background-size: cover;
  }

  header {
    margin-left: 10vw;
  }
  header > img {
    height: 8vw;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .ulls > img {
    height: 50vw;
    margin: 0 auto;
  }

  .descrption {
    margin: 0 auto;
  }
  .descrption > h1 {
    font-size: 5vw;
    line-height: 7vw;
    text-align: center;
    margin: 10px 0 10px 0;
  }
  .descrption > p {
    text-align: center;
    margin: 10px 0 10px 0;
  }

  .btn {
    width: 15rem;
    height: 2.8rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ad4ebb;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
    margin: 5vw 0 5vw -10vw;
  }

  .social {
    position: absolute;
    margin: 19vw 10vw 5vw 30vw;
  }
}
