@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: hsl(257, 40%, 49%);
  background-image: url("../images/bg-desktop.svg");
  height: 100%;
}

.container {
  display: flex;
  margin: 60px 50px 0 50px;
  color: white;
  font-size: 1rem;
}

svg {
  height: 100%;
}

i {
  margin: 0 15px 0 15px;
}

header {
  margin: 30px 50px 50px 50px;
}

.logo {
  margin: 40px 0 50px 70px;
}
.logo > img {
  height: 45px;
}
.ulls > img {
  height: 430px;
}

.social {
  text-align: right;
  margin-right: 50px;
  margin-top: -10px;
  color: white;
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px white;
  padding: 0.5em 0.5em;
  margin: 0 0.5em 0 0.5em;
  font-size: 1.2rem;
}

.descrption {
  margin-left: 90px;
  margin-top: 50px;
  width: 40%;
}
.descrption > h1 {
  font-size: 2.2rem;
  line-height: 3.4rem;
}

button {
  width: 11rem;
  height: 2.8rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ad4ebb;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
button:hover {
  background-color: #ad4ebb;
  color: #fff;
  transform: translateY(-1px);
}
